@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

$tiles: #4BB2EA;
$tiles_light: #6EC4EC;
$menu: #06080A;
$background: #F9FAFA;
$links: #91BBD0;
$font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;