@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

$tiles: #5A4736;
$main_text: rgb(240, 247, 252);
$text_light: rgba(240, 247, 252, 0.700);
$menu: #06080A;
$frame1: url(desk-frame.png);
$frame2: url(wood-backing.png);
$background: url(screen-background.png);
$links: #5A4736;
$font: 'Open Sans', sans-serif;
$title_font: 'Montserrat', sans-serif;