@import url("https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans");
@-webkit-keyframes scroll-my-mouse {
  0% {
    top: 0em;
  }
  100% {
    top: 0.5em;
  }
}
header .sidebar {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 12vw;
  background: #5A4736;
  border-right: 2px solid rgba(255, 255, 255, 0.589);
}
header .sidebar .icons {
  padding: 1vh;
}

nav {
  z-index: 3;
}

/* Style The Dropdown Button */
.dropbtn {
  background: url(menu.png) center no-repeat;
  background-size: cover;
  color: white;
  height: 7vh;
  width: 7vh;
  margin-bottom: 12vh;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 3vh 0 0 0;
}
.dropdown h3 {
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: -2vh;
  left: 7vh;
  background-color: #5C8B99;
  min-width: 5vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2vh 4vw;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
  overflow-y: scroll;
  color: #f0f7fc;
  background: url(screen-background.png) bottom right no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}
body section {
  padding: 20vh 0 30vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body section h1 {
  font-family: "Open Sans", sans-serif;
  margin-block-start: 3em;
  margin-block-end: 0;
}
body section h2 {
  font-family: "Open Sans", sans-serif;
}
body section h3 {
  font-family: "Open Sans", sans-serif;
  color: rgba(240, 247, 252, 0.7);
  margin-block-start: 0;
}
body section p {
  font-family: "Ubuntu", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}
body section .backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body section .backdrop1 img {
  display: block;
  position: absolute;
  left: 0;
  width: 120vw;
  height: 100vh;
}
body section .content {
  display: flex;
  margin: 0 9vw 0 32vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body section .content #aboutmep {
  margin-top: 2vh;
  font-size: 2vh;
  font-style: italic;
}
body section .info {
  z-index: 1;
  position: fixed;
  display: flex;
  top: 9vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
body section .info .profile {
  margin-left: 15vw;
  display: block;
  height: 12vh;
  width: auto;
  border-radius: 50%;
}
body section .info h2 {
  color: #5A4736;
  font-size: 4vw;
  padding-left: 2vw;
  margin-block-end: 0;
  margin-block-start: 1vh;
}
body section .info span {
  color: rgba(90, 71, 54, 0.692);
  font-size: 2vh;
  padding: 2vw;
}
body section .education div {
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}
body section .work span {
  padding-bottom: 1vh;
}
body section .work span, body section .work table {
  font-size: smaller;
}
body section .work table tr {
  padding: 1vh 0;
}
body section .work table th {
  padding: 0 5px;
}
body section .contact p {
  font-size: smaller;
}
body section .scroller {
  z-index: 3;
  position: fixed;
  top: 27vh;
  right: 9vw;
}
body section .scroller .mouse {
  position: absolute;
  right: 0.3em;
  height: 2em;
  width: auto;
}
body section .scroller .wheel {
  position: absolute;
  right: 1em;
  height: 1em;
  width: auto;
  animation: scroll-my-mouse 1s 2s infinite alternate;
}

footer {
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.459);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer h2 {
  text-decoration: underline;
}
footer a {
  color: #0026a3;
  padding: 0 4vw;
  text-decoration: none;
  display: block;
  background: rgba(92, 139, 153, 0.747);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
}
footer .pythonimg {
  color: black;
  margin-left: 1vw;
  height: 5vh;
  width: 10vw;
  background: rgba(255, 255, 255, 0) url(python.png) center no-repeat;
  background-size: contain;
}
footer .rubyimg {
  color: black;
  margin-left: 1vw;
  height: 5vh;
  width: 10vw;
  background: rgba(255, 255, 255, 0) url(ruby.png) center no-repeat;
  background-size: contain;
}
footer .htmlimg {
  color: black;
  margin-left: 1vw;
  height: 5vh;
  width: 10vw;
  background: rgba(255, 255, 255, 0) url(html5.png) center no-repeat;
  background-size: contain;
}
footer .cssimg {
  color: black;
  margin-left: 1vw;
  height: 5vh;
  width: 10vw;
  background: rgba(255, 255, 255, 0) url(css3.png) center no-repeat;
  background-size: contain;
}

.backdrop2 {
  display: none;
}

a.bigicon {
  display: none;
}

body.projects {
  background: url(screen-background.png);
  height: 100vh;
  width: 100vw;
}
body.projects .pygame {
  margin: 0 2vw 0 12vw;
}
body.projects h2 {
  text-align: center;
}
body.projects p {
  width: 50%;
  margin: auto;
  padding-bottom: 2vh;
}
body.projects img {
  display: block;
  width: 50vw;
  height: auto;
  margin: auto;
  padding-bottom: 5vh;
}

body.contact {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid black;
  height: 100vh;
  background: url(contact-backing.png) top center no-repeat;
  background-size: cover;
}
body.contact .contact-title {
  margin-top: 100px;
  color: #5C8B99;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
body.contact .contact-title h1 {
  font-size: 32px;
  line-height: 10px;
}
body.contact .contact-title h2 {
  font-size: 16px;
}
body.contact form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
body.contact .form-control {
  width: 600 px;
  background: rgba(255, 255, 255, 0.514);
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}
body.contact textarea.form-control {
  width: 20vw;
  height: 20vh;
}
body.contact input {
  height: 45px;
}
body.contact form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
body.contact form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .backdrop1 {
    display: none;
  }

  div.icons a.zocial.icon {
    display: none;
  }

  .dropdown h3 {
    display: block;
  }
  .dropdown .dropdown-content {
    top: 2vh;
    left: 7vh;
  }

  section {
    font-size: larger;
  }
  section .scroller {
    margin: 5vh 10vw 0 0;
  }
  section div.content {
    margin: 0 20vw 0 40vw;
  }
  section div.content.education div {
    flex-direction: row;
    flex: 1;
    border-bottom: 1px dashed #5A4736;
  }
  section div.content.education div:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  section div.info img.profile {
    height: 18vh;
  }

  div.icons a.zocial.bigicon {
    display: inline-block;
    width: 8vw;
    font-size: 1vw;
  }

  .backdrop2 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .backdrop2 img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 5vw;
    width: 110vw;
    height: 124vh;
  }

  section div.info {
    top: 5vh;
  }
}

/*# sourceMappingURL=main.css.map */
