@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
@-webkit-keyframes scroll-my-mouse {
  0% {
    top: 0em;
  }
  100% {
    top: 0.5em;
  }
}
header .sidebar {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 12vw;
  background: #5A4736;
  border-right: 2px solid rgba(255, 255, 255, 0.589);
}
header .sidebar .icons {
  padding: 1vh;
}

nav {
  z-index: 3;
}

/* Style The Dropdown Button */
.dropbtn {
  background: url(menu.png) center no-repeat;
  background-size: cover;
  color: white;
  height: 7vh;
  width: 7vh;
  margin-bottom: 10vh;
  margin-top: -20vh;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 5vh 0 5vh 0;
  padding-top: 5vh;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 12vw;
  background-color: #5C8B99;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
  overflow-y: scroll;
  color: #f0f7fc;
  background: url(screen-background.png) bottom right no-repeat;
  background-size: cover;
  font-style: "Open Sans", sans-serif;
}
body section {
  padding: 20vh 0 25vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body section .content {
  display: flex;
  margin: 0 9vw 0 32vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body section .about div {
  display: flex;
  flex-direction: column;
}
body section .scroller {
  z-index: 3;
  position: fixed;
  top: 27vh;
  right: 9vw;
}
body section .scroller .mouse {
  position: absolute;
  right: 0.3em;
  height: 2em;
  width: auto;
}
body section .scroller .wheel {
  position: absolute;
  right: 1em;
  height: 1em;
  width: auto;
  animation: scroll-my-mouse 1s 2s infinite alternate;
}
body section .scroller span {
  font-size: smaller;
  position: fixed;
  top: 30vh;
  right: 5vw;
}
body section .info {
  position: fixed;
  display: flex;
  top: 9vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
body section .info .profile {
  margin-left: 15vw;
  display: block;
  height: 12vh;
  width: auto;
  border-radius: 50%;
}
body section .info p {
  color: #5A4736;
  font-size: 2.5em;
  padding-left: 2vw;
}
body section h1 {
  font-family: "Montserrat", sans-serif;
  margin-block-start: 4em;
  margin-block-end: 0;
}
body section h3 {
  font-family: "Montserrat", sans-serif;
  color: rgba(240, 247, 252, 0.7);
  margin-block-start: 0;
}
body section p {
  font-family: "Open Sans", sans-serif;
}
body section .backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body section .backdrop1 img {
  display: block;
  position: absolute;
  left: 0;
  width: 120vw;
  height: 100vh;
}

.backdrop2 {
  display: none;
}

a.bigicon {
  display: none;
}

@media only screen and (min-width: 769px) {
  div.icons a.zocial.icon {
    display: none;
  }

  section {
    font-size: larger;
  }
  section .scroller {
    margin: 5vh 10vw 0 0;
  }
  section div.content {
    margin: 0 20vw 0 40vw;
  }
  section div.content.about div {
    flex-direction: row;
    flex: 1;
  }
  section div.content.about div:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  section div.content.about div div {
    padding-bottom: 5vh;
  }

  div.icons a.zocial.bigicon {
    display: inline-block;
    width: 8vw;
    font-size: 1vw;
  }

  .backdrop2 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .backdrop2 img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 5vw;
    width: 110vw;
    height: 124vh;
  }

  section div.info {
    top: 5vh;
  }
}

/*# sourceMappingURL=main.css.map */
